extends ../_component/layout/layout

block config
  -
    var metaTitle = 'About Us';
    var metaDescription = 'About Profesional Mastic Applier';
    var showBackButton = baseUrl;
    var landingPage = 'About us';

block content
  .column(span="row")
    .about

  .column(span="row" height="30")
  .column(span="row")

    each more in data.about.descriptionList
      h2.sub-title=more.title
      .column(span="row" height="30-hr")
      .column(span="row")
      each moreValue in more.contentList
        p.description-text=moreValue

  //- .column(span="row")
  //-   each content in data.about.newContent
  //-     .column(span="row" height="30")
  //-     h2.sub-title=content.title
  //-       .column(height="30-hr")
  //-       each contentValue in content.contentList
  //-         .column(span="row")
  //-           ul
  //-             li.description-text=contentValue

  .column(span="row")
    each qualified in data.about.qualifiedList
      .column(span="row" height="30")
      h2.sub-title=qualified.title
      .column(span="row" height="30-hr")
      .column(span="row")
      p.description-text=qualified.contentList

  .column(span="row")
  each list in data.about.unorderedList
    .column(span="row" height="30")
    .column(span="row" )
        h2.sub-title=list.title
          .column(height="30-hr")
          each listValue in list.listItem
            .column(span="row")
              ul
                li.description-text=listValue
