extends _component/layout/layout

block config
  -
    var metaTitle = 'Profesional'
    var metaDescription = 'Profesional Mastic'
    var showBackButton = ''

block content
  .column(span="row")
    .home

  .column(span="row" height="30")

  .column(span="row")
    h2.sub-title Why Us?

  .column(span="row" height="30-hr")
  .column(span="row")
    each text in data.home.contentList
      p.description-text= text.contentList

  .column(span="row" height="30")

  .column(span="row")
    h2.sub-title Projects
  .column(span="row" height="30-hr")

  each project in data.home.project
    .column(textalign="center")
      img.image-100(src=`${baseUrl}${project.src}`, alt=project.title)
      a(href=project.link).link-title=project.title

  .column(span="row")
    h2.sub-title Products
  .column(span="row" height="30-hr")
  .column(span="row")
    each product in data.home.product
      .product-image

