extends _component/layout/layout

block config
  -
    var metaTitle = 'Profesional'
    var metaDescription = 'Profesional Mastic'
    var showBackButton = ''

block content
  .column(span="row")
    .home

  .column(span="row" height="30")

  .column(span="row")
    h2.sub-title Why Us?

  .column(span="row" height="30-hr")
  .column(span="row")
    .description-box-shadow
      p.description-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, voluptatibus. Placeat, ratione soluta dignissimos ipsum ad deserunt recusandae neque tempore tenetur, molestias quia nihil consectetur quaerat cum dolorum, eveniet sed.
      p.description-text Iste molestias odio harum ipsam nam beatae corporis, aperiam tenetur voluptas, molestiae praesentium! Aspernatur, inventore perspiciatis voluptatem veniam distinctio placeat pariatur nostrum consequuntur doloribus soluta exercitationem, a deserunt enim ea.
  .column(span="row" height="30")

  .column(span="row")
    h2.sub-title Projects
  .column(span="row" height="30-hr")

  each project in data.home.project
    .column(textalign="center")
      img.image-100(src=`${baseUrl}${project.src}`, alt=project.title)
      a(href=project.link).link-title=project.title

  .column(span="row")
    h2.sub-title Products

  each product in data.home.product
    .column(span="4")
      img(src=`${baseUrl}${product.src}`)
