extends _component/layout/layout

block config
  -
    var metaTitle = 'Profesional Mastic Applier in London and UK';
    var metaDescription = 'Interior and Exterior mastic applier in London and UK. A choice that makes the difference.';
    var showBackButton = '';
    var landingPage = 'Home';



block content
  .column(span="row")
    .home

  .column(span="row" height="30")

  .column(span="row")
    h2.sub-title Why Us?

  .column(span="row" height="30-hr")
  .column(span="row")
    each text in data.home.contentList
      p.description-text=text.content

  .column(span="row" height="30")

  .column(span="row")
    h2.sub-title Projects
  .column(span="row" height="30-hr")

  each project in data.home.project
    .column(textalign="center")
      a(href=project.link)
        img.image-100(src=`${baseUrl}${project.src}`, alt=project.title)
      a(href=project.link).link-title=project.title

  .column(span="row")
    each product in data.home.productList
      h2.sub-title=product.title
      .column(span="row" height="30-hr")
      .column(span="row")
        each productValue in product.imagePathList
          .product-image__list
            img(src=productValue.src, alt=productValue.alt)
    //-   each product in Array.from({ length: 16 }, (_, k) => k + 1)
    //-     .product-image

  .column(span="row" height="30")
  .column(span="row" )
    each qualification in data.home.qualificationList
      h2.sub-title=qualification.title
      .column(span="row" height="30-hr")
      .column(span="row")
        each qualificationValue in qualification.imagePathList
          .qualification-image__list
            img(src=qualificationValue.src, alt=qualificationValue.alt)
